* {
  --left-width: 25vw;
}

hr {
  margin: 5%;
}

#article-parent {
  font-size: 1.2em;
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  grid-template-columns: var(--left-width) 1fr;
  grid-template-rows: 10vh 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;

  /* https://stackoverflow.com/a/1638824 */
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

#article-header-div {
  grid-area: 1 / 1 / 2 / 3;
}
#article-img-div {
  grid-area: 2 / 1 / 3 / 2;
}
#img {
  width: var(--left-width);
}
#article-text-div {
  grid-area: 2 / 2 / 3 / 3;
  /* background-color: aqua; */
}

a {
  color: var(--landing-color)
}