.app {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: inline-block;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  transition: background-color 250ms ease-in-out;
  z-index: -99999999;
}