* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --background-color: #fffdf3;
  --foreground-color: #6c43b1;
  --primary-text-color: #181d27;
  --secondary-text-color: #ffffff;
  --toggle-bg: #4919f6;
  --toggle-fg: #ffd000;


  --nav-color: #8d6bc7;
  /*
    if changing --nav-color, update fill in ./components/Hamburger_icon.svg
    f40a0a
    2d283e

    1a7939
  */
  --landing-color: #6c43b1;

  --footer-height: 30vh;
}

[data-theme="dark"] {
  --background-color: #181d27;
  /* if changing, change .app bg-fade in pages/Home.css */
  --foreground-color: #8d6bc7;
  --primary-text-color: #fffdf3;
  --secondary-text-color: #ffffff;
  --toggle-bg: #2d283e;
  --toggle-fg: #c4bfce;
}